@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}
/* main {
  font-family: "Urbanist", sans-serif;
} */
h1 {
  color: white;
  font-size: 40px;
  line-height: 56px;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
h4 {
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Montserrat", sans-serif;
  margin-top: 4px;
}
h5 {
  font-size: 17px;
  color: white;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  height: 56px;
  top: 0;
  background-color: #fff;
  z-index: 1; /*specifies stack order of header element(larger index covers smaller one*/
}
header h4 {
  color: white;
}
span {
  padding: 4px 16px;
}
button {
  width: 200px;
  height: 40px;
  padding: 4px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-top: 24px;
  cursor: pointer;
}
p {
  font-size: 40px;
}

.logo {
  width: 190px;
  height: 24px;
  padding: 0 32px;
  align-items: start;
  display: block;
  position: relative;
  cursor: pointer;
}

.text {
  text-align: center;
  flex-direction: column;
  margin: 0;
  padding: 48px 32px;
  position: absolute;
  top: 70px;
  height: 100%;
  width: 100%;
}
.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  font-size: 14px;
}
.menu-items a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.icons {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.nav-items {
  padding-right: 32px;
  align-items: end;
}

#hero {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
}
#banner {
  width: 100%;
  height: 100%;
}
#marketing-cards {
  padding: 48px 48px 0 48px;
  /* display: flex; */
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  position: relative;
}
#benefits {
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px;
  height: 644px;
  padding: 32px 48px;
}
#self-driving {
  display: flex;
  background-image: url(./assets/Safety.avif);
  border-radius: 8px;
  width: 888px;
  height: 580px;
  opacity: 1;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#features {
  display: flex;
  background-image: url(./assets/features.avif);
  border-radius: 8px;
  height: 580px;
  width: 432px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#map {
  padding: 40px 48px;
  display: grid;
  height: 786px;
}

#locations {
  height: 550px;
  padding: 0;
  display: flex;
}
.charging2 {
  display: flex;
}
.charging2 img {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
}
.power {
  display: flex;
  align-items: center;
}
#details h4 {
  color: black;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  justify-content: space-between;
  color: rgb(92, 94, 98);
  text-align: start;
}
#details {
  display: flex;
  padding: 40px 48px;
  gap: 130px;
}
#availability {
  /* display: block; */
}
/* #cl-buttons {
  flex-direction: column;
} */

.blue-btn {
  background-color: #3e6ae1;
  border: 3px solid #0000;
  color: white;
}

.transp-btn {
  background-color: #fff;
  border: 3px solid #0000;
}
.slideshow {
  display: flex;
  width: 500%;
  /* padding-top: 48px; */
  position: relative;
  margin: auto;
  padding: 48px 48px 0 48px;
}
.slide {
  padding: 0 48px;
  width: 1024px;
  height: 580px;
  display: block;
  background-size: cover;
  border-radius: 8px;
  margin-left: 24px;
}
#space {
  padding-top: 48px;
}

.s1 {
  background-image: url(./assets/model3.avif);
}
.s2 {
  background-image: url(./assets/modelY.avif);
}
.s3 {
  background-image: url(./assets/cyber-truck.avif);
}
.s4 {
  background-image: url(./assets/modelS.avif);
}
.s5 {
  background-image: url(./assets/modelX.avif);
}
.s6 {
  background-image: url(./assets/Solar-Panels.avif);
}
.s7 {
  background-image: url(./assets/Powerwall.avif);
}
.s8 {
  background-image: url(./assets/Megapack.avif);
}
.s9 {
  background-image: url(./assets/Solar-Roof.avif);
}

.marketing-card {
  width: 660px;
  height: 220px;

  display: flex;

  border-radius: 8px;
  border: 1px solid #0000;
  margin-left: 24px;
}
.right-side {
  width: 220px;
  height: 220px;
}
.right-side img {
  /* height: 190px; */
  height: 100%;
  align-items: center;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
}
.left-side {
  padding: 32px 24px 48px 48px;
  /* flex-direction: column; */
  text-align: left;
  background-color: #f4f4f4;
  height: 220px;
  width: 440px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  /* display: inline-block; */
}
.left-side h4 {
  color: #5c5e62;
  font-weight: 460;
  font-size: 18px;
  margin-left: 0;
  height: 56px;
  width: 368;
  padding: 0;
}
.left-side h1 {
  font-size: 34px;
  color: black;
  height: 44px;

  /* line-height: px; */
}
.left-side button {
  width: 252px;
  height: 40px;
  margin-top: 10px;
  /* padding-top: 16px; */
  padding: 4px;
  border: 0px solid #0000;
  border-radius: 4px;
  align-items: center;
  font-size: 14px;
  background-color: #fff;
}
.left-corner {
  padding: 40px;
  /* margin-top: 60px; */
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  justify-items: left;
  /* position: absolute; */
  bottom: -55%;
  position: relative;
}
.power {
  display: flex;
}
h6 {
  height: 114px;
  color: rgb(92, 94, 98);
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  padding: 0 48px;
}
footer {
  padding: 0 24px 60px 24px;
  font-weight: 500;
  font-size: 11px;
}
footer a {
  margin-right: 14px;
  color: rgb(92, 94, 98);
  text-decoration: none;
}
#footer-menu {
  margin-left: 406.656px;
  margin-right: 406.656px;
  height: 70px;
}
sup {
  font-size: 0.7em;
}
.slideshow a {
  display: flex;
  font-weight: 400;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
#crop {
  width: 240px;
  height: 67.5078px;
  color: white;
  filter: brightness(0) invert(1);
}
